*{
    margin: 0;
}
a{
    color: #22BCE;
}
body {
    /*background: #EEEEEE;*/
    font-family: "Open Sans";
    font-size: 16px;
}

footer {
    color: rgba(255,255,0.7);
    background: #22BCE0;
    text-align: center;
    padding: 1em;
}
.contenedor_general{
    width: 100%
    background:#deeeac;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.contenedor{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: #FBFDFD;
}
footer {
    color: white;
    text-align: center;
    clear: both;
    background: #58A9FC;
    font-size: 12px;
    height: 25px;
    padding-top: 0.5em;
}
header {
    background: #0088CC;
    color: withe;
    overflow: hidden;
    padding: 0.5em;
    position: relative;
}
header figure {
    float: left;
}
header h1{
    font-size: 1.2em;
    font-weight: normal;
    margin: 0.2em 70px 0 0;
    padding-top: 0.5em;
}
header #logo{
    margin-right: 0.5em;
}
nav{
    background: #0088cc;
    box-shadow: rgba(0,0,0,0.3)0px 0px 2px;
    padding: 0 6em 0 0;
    position: relative;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    margin: 0 1em 0 0;
}
nav ul li a{
    color: white;
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    -webkit-transition: .3s;
}
nav ul li a:hover{
    background: #1BB3FF;
}
nav ul li a.active{
    color: #FFF;
}
#contenido{
    margin: 1em;
    float: left;
    width: 600px;
    background: #ECFAFC;
}
contenido .item{
    background: white;
    border: 1px solid #2C8DFB;
    border-radius: 0.5em;
    position: relative;
    padding: 5px 5px 40px 5px;
    margin-bottom: 0.5em;
}
.imagen_item{
    float: letf;
    margin: 0 1em 0 0;
}
.leer_mas{
    display: block;
    width: 80px;
    height: 20px;
    padding: 5px 0;
    border: 0.5px solid #2C8DFB;
    background-color: #0088CC;
    border-radius: 0.5em;
    text-align: center;
    float: right;
    color: white;
}
.leer_mas:hover{
    background: red;
}
.leer_mas:active{
    background: yellow;
}
aside{
    margin: 1em;
    float: right;
    width: 290px;
    background: white;
}